.review-panel {
  display: flex;
  margin-top: 12rem;

  height: 100%;
  width: 40%;
}
.review-panel__container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;

  gap: 1.8rem;
}
.review-panel__container--empty {
  opacity: 0.6;
}
.review-panel--zeroMargin {
  margin: 0;
}
.review-panel--wLimiter {
  width: 80px;
}
.review-panel__header {
  font-size: 1.2rem;
}
.review-panel__row-container {
  display: flex;
  flex-direction: row;

  align-items: center;

  margin-top: 0.6rem;
  margin-left: 0.2rem;

  position: relative;
}
.review-panel__score {
  font-size: 1.1rem;
}
.review-panel__rate-line {
  width: 150px;
  height: 10px;
  background: #ffd800;
  border-radius: 25px;

  box-sizing: content-box;
  padding-left: 1px;
}
.review-panel__rate-line--strongGreen-bg {
  background: #17a34a;
}
.review-panel__rate-line--green-bg {
  background: #22c45d;
}
.review-panel__rate-line--yellow-bg {
  background: #ffd139;
}
.review-panel__rate-line--weakYellow-bg {
  background: #e9b308;
}
.review-panel__rate-percent {
  width: 2.2rem;
  text-align: end;
}
.review__lines {
  margin: 0 1rem;
  position: relative;
  width: min-content;
  height: min-content;
}

@media (max-width: 1000px) {
  .review-panel__container {
    padding-left: 0px;
    transition: padding-left 0.6s ease-in-out;
  }
}
@media (max-width: 850px) {
  .review-panel {
    height: min-content;
    width: min-content;
    margin: 0;
  }
}

@media (max-height: 750px) {
  .review-panel {
    margin-top: 0rem;
  }
}
@media (max-width: 900px) {
  .container {
    margin-top: 0;
  }
}
